.app__projects {
  width: 90%;
  margin: auto;

  .app__projects-header {
    gap: 1rem;
    padding: 2rem 0;

    li {
      padding: 6px 10px;
      cursor: pointer;
      transition: all 0.5s;
    }
    .active {
      background-color: black;
      color: white;
    }
  }

  .app__projects-contain {
    gap: 1rem;
    flex-wrap: wrap;
    // padding: 1rem;

    .project {
      width: 30%;

      background-color: rgba(232, 232, 232, 0.39);
      position: relative;

      .project-info {
        position: absolute;
        z-index: 10;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        transition: all 1s;
        margin-top: 3px;

        img {
          width: clamp(35px, 4vw, 45px);
          filter: drop-shadow(10px 10px 3px rgba(0, 0, 0, 0.678));
        }
      }
      .project-img {
        width: 100%;
        // width: 26rem;
        // max-width: 36rem;
        // height: 30vw;
        height: 13.5vw;
        // max-height: 18rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 0.5s;
        position: relative;

        .filter {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 1s;
        }

        .project-icons {
          display: flex;
          gap: 1rem;
          position: absolute;
          bottom: 20%;
          left: 50%;
          transform: translate(-50%, 50%);
          scale: 0;
          transition: all 0.7s;
          z-index: 100;
          user-select: none;
          .icon {
            font-size: clamp(30px, 3vw, 35px);
            background-color: rgba(0, 0, 0, 0.551);
            padding: 7px;
            border-radius: 50%;
            user-select: none;
            color: white;

            transition: all 0.5s;

            &:hover {
              scale: 1.1;
              box-shadow: 1px 1px 5px 6px rgba(0, 0, 0, 0.568);
            }
          }
        }

        &:hover .filter {
          background-color: rgba(0, 0, 0, 0.251);
        }

        &:hover .project-icons {
          scale: 1;
        }
      }
      &:hover .project-info {
        opacity: 1;
      }

      .project-name {
        text-align: center;
        font-size: clamp(16px, 2vw, 20px);
        padding: 5px 0;
        font-weight: 500;
      }

      @media screen and (max-width: 1440px) {
        width: 45%;
        max-width: 30rem;
        // height: 20rem;
        & .project-img {
          height: 20vw;
          max-height: 15rem;
        }
      }
      @media screen and (max-width: 840px) {
        width: 80%;
        // height: 20rem;
        & .project-img {
          height: 36vw;
        }
      }
    }
  }
}
