.app__projects {
  // margin-left: 50%;
  // margin-right: 50%;
  margin: 1rem;
  overflow-x: hidden;
  padding-top: 10px;
  border-left: 3px solid rgba(0, 0, 0, 0.653);
  border-right: 3px solid rgba(0, 0, 0, 0.653);
  box-shadow: inset 8px 0 0 0 rgba(0, 0, 0, 0.722),
    inset -8px 0 0 0 rgba(0, 0, 0, 0.642);
  user-select: none;
  cursor: pointer;
  //   transition: all 0.2s;
  //   transform: scale(0.98);

  .app__projects-contain {
    display: flex;
    gap: 1rem;

    // overflow-x: scroll;

    .project {
      // width: 50vw;
      // height: 20rem;
      // min-width: 35rem;
      background-color: rgba(232, 232, 232, 0.364);
      position: relative;

      .project-info {
        position: absolute;
        // text-align: center;
        z-index: 10;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        transition: all 1s;
        margin-top: 3px;

        img {
          width: clamp(40px, 5vw, 55px);
          // border-radius: 50%;
          // background-color: rgba(255, 255, 255, 0.826);
          // box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.325);
          filter: drop-shadow(10px 10px 3px rgba(0, 0, 0, 0.678));
          // @media screen and (min-width: 768px) {
          //   width: 50px;
          //   margin-top: 5px;
          // }
        }
      }
      .project-img {
        width: 60vw;
        // height: 100%;
        min-width: 20rem;
        max-width: 36rem;
        height: 30vw;
        min-height: 10rem;
        max-height: 18rem;
        // background-color: rgba(0, 0, 0, 0.092);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        // box-shadow: 10px 10px 5px 5px black;
        transition: all 0.5s;
        position: relative;
        // opacity: 0.8;

        .filter {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 1s;
        }

        .project-icons {
          display: flex;
          gap: 1rem;
          position: absolute;
          bottom: 20%;
          left: 50%;
          transform: translate(-50%, 50%);
          scale: 0;
          transition: all 0.7s;
          z-index: 100;
          user-select: none;
          .icon {
            font-size: clamp(35px, 3vw, 40px);
            background-color: rgba(0, 0, 0, 0.551);
            // width: 40px;
            // height: 40px;
            padding: 7px;
            border-radius: 50%;
            user-select: none;
            color: white;

            transition: all 0.5s;

            &:hover {
              scale: 1.1;
              box-shadow: 1px 1px 5px 6px rgba(0, 0, 0, 0.568);
            }
          }
        }

        &:hover .filter {
          background-color: rgba(0, 0, 0, 0.251);
        }

        &:hover .project-icons {
          // display: block;
          scale: 1;
          // color: white;
        }
      }

      // &::before {
      //   content: url("../../assets/Re.png");
      //   // content: "";
      //   position: absolute;
      //   // background-color: rgba(0, 0, 0, 0.515);
      //   scale: 2;
      //   bottom: 50%;
      //   right: 50%;
      //   transform: translate(-50%, -50%);
      // }
      &:hover .project-info {
        opacity: 1;
      }

      .project-name {
        text-align: center;
      }
    }
  }
}

// ::-webkit-scrollbar {
//   width: 10px;
// }

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px grey;
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb {
//   background: red;
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: #b30000;
// }
