.app__about {
  // background-color: rgb(233, 233, 233);
  text-align: center;
  line-height: 30px;
  div {
    width: 70%;
    max-width: 40rem;
    text-align: center;
    margin: 0 auto;
    padding: 5rem 0;
    h2 {
      // font-size: 30px;
      // font-weight: 500;
      // padding-bottom: 1rem;
    }
  }
}
