.app {
  background-color: var(--primary-color);
  // background-color: rgba(7, 7, 19, 0.848);
  font-family: var(--font-base);
  font-weight: 500;
  // color: white;
}

.app__whitebg {
  background-color: var(--white-color);
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__head {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 2rem;
  text-align: center;
}
